<ion-view hide-nav-bar="true">
  
  
  <ion-content class="padding custom-gradient-bg">

    <!-- If remove cutom gradient, remove custom-no-box-shadow to this element -->
    <div class="list card padding custom-login">

      <label class="item item-input">
          <div class="input-label">
            Gender
          </div>
          <ion-list>
            <ion-radio ng-model="user.gender" ng-value="'Male'" class="custom-radio">Male</ion-radio>
            <ion-radio ng-model="user.gender" ng-value="'Female'" class="custom-radio">Female</ion-radio>
            <ion-radio ng-model="user.gender" ng-value="'Unspecified'" class="custom-radio">Unspecified</ion-radio>
          </ion-list>
        </label>
        <label class="item item-input">
          <div class="input-label">
            Grade
          </div>
          <ion-list>
            <ion-radio ng-model="user.grade" ng-value="'2016'" class="custom-radio">2016</ion-radio>
            <ion-radio ng-model="user.grade" ng-value="'2017'" class="custom-radio">2017</ion-radio>
            <ion-radio ng-model="user.grade" ng-value="'2018'" class="custom-radio">2018</ion-radio>
            <ion-radio ng-model="user.grade" ng-value="'2019'" class="custom-radio">2019</ion-radio>
          </ion-list>
        </label>
      <label class="item item-input">
        <span class="input-label">Email Address</span>
        <input ng-model="user.email" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input ng-model="user.password" type="password">
      </label>
      <button class="button button-full button-positive" ng-click="createUser(user)">
        Create New Account
      </button>
    </div>

    <div class="list textCenter custom-white-text custom-signin-text">
      Already have an account? <a ng-click="modal.show()" class="positive custom-underline"> Sign in</a>
    </div>
    

    <!-- <div class="list textCenter">
      <button ng-click="modal.show()" class="button button-outline button-positive icon-left ion-person-add">
        Log In
      </button>
    </div>
    <div class="list textCenter">
      <div ng-click="modalDisclaimer.show()" class="positive">
        Disclaimer
      </div>
    </div> -->
  </ion-content>


  
  <!-- <div class="bar bar-footer bar-light textCenter">
    <div class="custom-margin-auto">
      Already have an account? <a ng-click="modal.show()" class="positive"> Sign in</a>
    </div> 
  </div> -->

</ion-view>


