<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Disclaimer</h1>
    <button class="button button-clear button-primary" ng-click="modalDisclaimer.hide()">
      Cancel
    </button>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <p class="custom-style-p"><strong>
          Disclaimer
        </strong></p>
      </div>
      <div class="item item-text-wrap">
        <p class="custom-style-p">
          xyz behavior will not be tolerated...
        </p>
      </div>
      <div class="item item-text-wrap">
        <p class="textRight">
            Thank you for using FreshStart respectfuly.
        </p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
