<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Add an eStamp</h1>
    <button class="button button-clear button-primary" ng-click="stampModal.hide()">
      Cancel
    </button>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="card padding" ng-click="sendStamp('Hitler 1')">
          <img src="img/stamps/1.jpg" class="fullWidth" />
        </div>
        <div class="card padding" ng-click="sendStamp('galleon 1')">
          <img src="img/stamps/2.jpg" class="fullWidth" />
        </div>
        <div class="card padding" ng-click="sendStamp('cedar')">
          <img src="img/stamps/3.jpg" class="fullWidth" />
        </div>
        <div class="card padding" ng-click="sendStamp('Hitler 2')">
          <img src="img/stamps/4.jpg" class="fullWidth" />
        </div>
      </div>
      <div class="col">
        <div class="card padding" ng-click="sendStamp('Hitler 3')">
          <img src="img/stamps/5.jpg" class="fullWidth" />
        </div>
        <div class="card padding" ng-click="sendStamp('galleon 2')">
          <img src="img/stamps/6.jpg" class="fullWidth" />
        </div>
        <div class="card padding" ng-click="sendStamp('savannah')">
          <img src="img/stamps/7.jpg" class="fullWidth" />
        </div>
        <div class="card padding" ng-click="sendStamp('sunset')">
          <img src="img/stamps/8.jpg" class="fullWidth" />
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
