<ion-view view-title="{{roomName}}">
  
  <ion-nav-buttons side="left">
   <button class="button button-clear" ng-click="back()"><i class="icon ion-arrow-left-c custom-smaller-icon"></i> People</button>
  </ion-nav-buttons>

  <ion-content>
    <div ng-show="roomName">
      <ion-list>
        <!-- Move this input item below -->
        <ion-item class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="IM.textMessage" placeholder="Type in your message...">
          </label>
          <button ng-click="sendMessage(IM.textMessage)" class="button button-small button-balanced" ng-disabled="deletedById">
            Send
          </button>
        </ion-item>
        
        <ion-item ng-show="chats === undefined" class="textCenter">
          <i class="icon ion-loading"></i> Loading Chats
        </ion-item>

        <ion-item ng-if="chats === null" class="textCenter">
          <h4> No current messages. Be the first to send one!</h4>
        </ion-item>

        <ion-item ng-show="deletedById">
          <p ng-hide="deletedById === currentUserId" class="item-text-wrap chat-wrap">
            Your partner has ended the chat. You may still read messages or report the chat. To delete this chat, return to the <strong>People</strong> page and swipe left on the chat. 
          </p>
          <p ng-show="deletedById === currentUserId" class="item-text-wrap chat-wrap">
            Waiting for partner to end the chat.
          </p>
        </ion-item>

        <ion-item ng-repeat="chat in chats | orderBy: '' : true" type="item-text-wrap">
          <h4>{{chat.from}}</h4>
          <span am-time-ago="chat.createdAt" class="item-note"></span>
          <p class="item-text-wrap chat-wrap">{{chat.message}}</p>
          <!-- Activate to enable removal of individual messages -->
          <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
            Press to Delete
          </ion-option-button> -->
          <ion-option-button class="button-energized" ng-click="modalReport.show()">
            Report Chat
          </ion-option-button>
        </ion-item>

      </ion-list>
    </div>

    <ion-list ng-hide="roomName">
      <ion-item class="textCenter">
        <h4>Please select a person to chat.</h4>
      </ion-item>
    </ion-list>

    <!-- Move input item here and change height to 60px  -->
  </ion-content>
</ion-view>
