<ion-view view-title="People">
  <ion-content>
    
    <div>
      <button class="button button-clear button-full button-positive" ng-click="chatWithSomeoneNew.show()">Chat with Someone New</button>
      </button>
    </div>

    <!-- <div class="card">
      <label class="item item-input item-select">
        <div class="input-label">
          Gender
        </div>
        <ion-list>
          <ion-radio ng-model="gender" ng-value="'Male'" class="custom-radio">Male</ion-radio>
          <ion-radio ng-model="gender" ng-value="'Female'" class="custom-radio">Female</ion-radio>
          <ion-radio ng-model="gender" ng-value="'Unspecified'" class="custom-radio">Unspecified</ion-radio>
        </ion-list>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Grade
        </div>
        <ion-list>
          <ion-radio ng-model="grade" ng-value="'2016'" class="custom-radio">2016</ion-radio>
          <ion-radio ng-model="grade" ng-value="'2017'" class="custom-radio">2017</ion-radio>
          <ion-radio ng-model="grade" ng-value="'2018'" class="custom-radio">2018</ion-radio>
          <ion-radio ng-model="grade" ng-value="'2019'" class="custom-radio">2019</ion-radio>
        </ion-list>
      </label>
      <button class="button button-full button-positive button-no-margin" ng-click="requestNewChat(gender, grade)">Chat With Someone New</button>
    </div> -->
    
    <ion-list ng-show="rooms">
      <!-- Experimental -->
      <ion-item class="item-icon-left" ng-repeat="room in rooms" type="item-text-wrap" ng-click="openChatRoom(room.id)">
        <h2>
          <span>{{room.name}}</span>
          <p class="custom-small-margin-top">{{room.lastMessage}}</p>
          <ion-option-button class="button-assertive" ng-click="askToRemove(room.id)">
            Press to Delete
          </ion-option-button>
        </h2>
      </ion-item>

      <!-- This section needs to be refactored -->
      <!-- <ion-item class="item-icon-left" ng-repeat="room in rooms | orderBy: sortMethod" type="item-text-wrap" ng-if="currentUserId === room.roomUid1 || currentUserId === room.roomUid2" ng-click="openChatRoom(room.id)">
        <h2>
          <span ng-init="isFirstUser = (room.roomUid1 === currentUserId)"></span>
          <span ng-init="room.whichNameUid = (isFirstUser) ? room.nameUid1 : room.nameUid2"></span>
          <span ng-init="room.random = random()"></span>
          <span ng-if="isFirstUser">
            {{room.nameUid1}}
          </span>
          <span ng-if="!(isFirstUser)">
            {{room.nameUid2}}
          </span>
          <ion-option-button class="button-assertive" ng-click="askToRemove(room.id)">
            Press to Delete
          </ion-option-button>
        </h2>
      </ion-item> -->
    </ion-list>
    <ion-list ng-hide="rooms">
      <ion-item class="textCenter">
        <span ng-show="rooms === null">
          <i class="icon ion-loading-c"></i>Look for Someone New!
          <!-- Replace with user onboard diagram -->
        </span>
        <span ng-show="rooms === {}">
          <i class="icon ion-loading-c"></i> Loading Rooms
        </span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>    